/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Set default html styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #708090;
    color: #ffffff;
    text-align: center;
    font-family: 'PT+Sans', sans-serif;
}

/* Heading */
header {
    font-size: 1.5rem;
    padding: 10px 0;
}

/* intro message */
.intro-msg {
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
}

.intro-msg > h3 {
    padding: 10px 0;
}

/* Rules button */
.btn-rules {
    padding-top: 40px;
}

.btn-rules > button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: #708090;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, #708090, #ffffff, #A9A9A9);
    color: #000000;
}

/* Begin button */
.begin {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: #708090;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, #708090, #ffffff, #A9A9A9);
    color: #000000;
    margin-top: 15%;
}

/* Rules information */
.rules-info {
    width: 90%;
    margin: auto;
    border: 2px solid #000000;
    background-color: #505050;
    border-radius: 20px;
    display: none;
    z-index: 1;
}

.rules-info > h2 {
    padding-top: 7px;
    font-size: 2rem;
}

.list {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 7px 0;
}

.list > li {
    padding: 7px 7px;
}

/* Return button */
.rules-info > button {
    margin: 20px 20px;
}

.btn-return {
    width: 75px;
    height: 25px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 1rem;
}

/* Quiz Selection */
.quiz-select {
    display: flex;
    width: fit-content;
    margin: auto;
}

.h-c-select, .js-select {
    padding: 25px;
}

.h-c-select > h2, .js-select > h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 2rem;
}

.img-html-css, .img-js {
    padding-top: 15px;
    width: 90%;
    height: 80%;
}

/* HTML & CSS Quiz */
.quiz-header {
    padding-top: 10px;
    font-size: 1.5rem;
}

.btn-home-history >button, .btn-home-history > a > button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: #708090;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, #708090, #ffffff, #A9A9A9);
    color: #000000;
}

.btn-home-history {
    padding: 25px 25px;
}

.btn-hh {
    display: flex;
    margin: auto;
    width: fit-content;
}

/* History Info */
.history-info {
    width: 50%;
    margin: auto;
    border: 2px solid #000000;
    background-color: #505050;
    border-radius: 20px;
    display: none;
}

.history-info > h2 {
    font-size: 2rem;
    padding: 10px 0;
}

.history-info > p {
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

/* Questions */
.questions-1, .questions-2 {
    padding-top: 25px;
    display: grid;
    display: none;
    margin: auto;
}

.questions-1 > h2, .questions-2 > h2 {
    font-size: 2rem;
}

/* Answers */
.btn-answers-1, .btn-answers-2 {
    padding: 25px;
    display: grid;
    grid-template-columns: 450px 400px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 100px;
    margin: auto
}

.btn-answers-1 > button, .btn-answers-2 > button {
    width: 400px;
    height: 150px;
    border-radius: 15px;
    border-color: #708090;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom right, #708090, #ffffff, #A9A9A9);
    color: #000000;
    margin-bottom: 50px;
}